@font-face {
  font-family: brush_script_mt_cursive;
  src: url(../fonts/brush\ script\ mt\ kursiv.ttf);
}


/*----------------------*/
/* Backgrounds */
.bg-navigation {
  background-color: #EE2F65!important;
}

.hello{
  background-image: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)), url("../images/computer-1245714_1920.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  /* height: 100%; */
}

.bg-banner{
  background-image: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)), url("../images/hua-ling-RXDTb_XyQho-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  /* height: 100%; */
}

/* .bg-regard{
  background-color: #e6d690;
}

.bg-regard{
  background-color: #e6d690;
} */

.bg-projects{
  background-color: #c2e1c2;
}

.bg-hobbies{
  background-color: #d3d0cb;
}

.bg-contact{
  background-color: #A3BAC3;
}

.bg-about{
  background-color: #0c120c;
}

/* Section titles */
.section-title{
  color: #f17105;
}
.projects-title{
  color: #ee2f65;
}
.hobbies-title{
  color: #ac3931;
}

/* skills forms */
.circle-odd{
  position:relative;
  width:50%;
  padding-bottom:50%;
  background: #957e42;
  border-radius:50%;
  margin: auto;
  /* max-width: 125px; */
  /* min-width: 125px; */
  width: 125px;
  height: 125px;
}

.circle-even{
  position:relative;
  width:50%;
  padding-bottom:50%;
  background: #cbd4c2;
  border-radius:50%;
  margin: auto;
  /* max-width: 125px;
  min-width: 125px; */
  width: 135px;
  height: 135px;
}
.circle-odd span{
  position:absolute;
  top:50%; left:50%;
  color: #d4dbda;
  transform: translate(-50%, -50%);
  margin:0;
}

.circle-even span{
  position:absolute;
  top:50%; left:50%;
  color: #6ba79e;
  transform: translate(-50%, -50%);
  margin:0;
}

/* others */
.regard{
  font-family: "brush_script_mt_cursive", cursive; 
  color: lightblue;/*#ff5722;*/ 
  font-size: 3rem;/*4rem;*/
  font-weight: bold;
}

.avatar-img{
  max-width: 14rem !important;
  margin-bottom: 4em !important;
}

.hobbies-size{
  min-width: auto;
  height: 15rem;

}

.fill-height-min{
  min-height: 100vh;
}
.fill-height{
  height: 100vh;
}

.space-title{
  padding: 10%;/*100px;*/
}

.hello h1{
  position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    font-size:90px;
    color:#E1EEEE/*#CBE690;*/
    width:100%;
    text-align:center;
    margin:0;
}